
{% extends 'base.html.twig' %}
{% block body %}
    <ul>
      <li><a href="{{path('somme',{'a': 6, 'b':3} ) }}">La somme </a></li>
        <li><a href="{{ path('soustraction',{'a': 6, 'b':3}) }}">La soustraction </a></li>
    </ul>
{% endblock %}
